.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    .search-button {
        color: $white;
        background-color: $bostonBlue;
        height: 30px;
        min-width: 40px;
        i {
            color: $white;
            font-size: 10px;
        }
    }
    input {
        background-color: #45799222;
        padding: 0 10px;
        height: 30px;
        border-radius: 0;
        border: 1px solid #45799222;
        outline: none;
        width: 300px;
    }
}

.btn {
    cursor: pointer;
    border-radius: 9999px;
    text-transform: uppercase;
    padding: 13px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-weight: bold;
    &>* {
        opacity: 1 !important;
        margin: 0 !important;
        padding: 0;
    }
}

.btn-red {
    opacity: 1 !important;
    color: $white;
    background-color: $coralRed;
}

.btn-carousel {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &>* {
        padding: 5px 13px;
        background-color: $white;
        color: rgba(0, 0, 0, 0.185);
        border: 1px solid rgba(0, 0, 0, 0.185);
        font-size: 20px;
        &:hover {
            background-color: $bostonBlue;
            color: $white;
        }
    }
}

.card {
    cursor: pointer;
    border: 1px solid #292f472c;
    width: calc(100% / 6 - 10px);
    &:not(:last-child) {
        margin-right: 10px;
    }
    .img {
        width: 100%;
        object-fit: cover;
    }
    .info {
        color: $ebonyClay;
        opacity: .7;
        padding: 9px;
        background-color: $white;
        span {
            margin-bottom: 10px;
        }
        .category {
            color: $ebonyClay;
            opacity: .5;
            font-size: 9px;
        }
        .description {
            font-size: 11px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .price-vote {
            border-top: 1px solid #292f472c;
            padding: 10px 0;
            .vote {
                font-size: 12px;
                color: $husk;
            }
            .int {
                margin: 0;
                font-size: 12px;
                font-weight: bold;
            }
            .discount {
                margin: 0;
                font-size: 11px;
                text-decoration: line-through;
            }
        }
    }
}