.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    .search-button {
        color: white;
        background-color: #457992;
        height: 30px;
        min-width: 40px;
        i {
            color: white;
            font-size: 10px;
        }
    }
    input {
        background-color: #45799222;
        height: 30px;
        border-radius: 0;
        border: 1px solid #45799222;
        outline: none;
        width: 300px;
    }
}

.btn {
    border-radius: 9999px;
    text-transform: uppercase;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &>* {
        opacity: 1 !important;
        margin: 0 !important;
        padding: 0;
    }
}

.btn-red {
    opacity: 1 !important;
    color: white;
    background-color: $coralRed;
}