// FLEX
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.j-center {
    justify-content: center;
}

.j-start {
    justify-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

// MARGIN
.mb-10 {
    margin-bottom: 10px;
}

// BACKGROUND COLOR
.bg-azure {
    background-color: $azure;
}

.bg-halfBakedLight {
    background-color: $halfBakedLight;
}

.bg-azure {
    background-color: $azure;
}

.bg-bostonBlue {
    background-color: $bostonBlue;
}

.bg-vesuvius {
    background-color: $vesuvius;
}

.bg-azure {
    background-color: $azure;
}

.bg-amaranth {
    background-color: $amaranth;
}

.bg-sundown {
    background-color: $sundown;
}

.bg-halfBakedLight {
    background-color: $halfBakedLight;
}