main {
    color: $ebonyClay;
    section.popoular-development {
        padding: 55px 0;
        .row {
            padding-top: 25px;
        }
    }
    section.banner {
        height: 375px;
        background-image: url(../img/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        .container-banner {
            .description {
                color: $ebonyClay;
                h1 {
                    font-size: 32px;
                }
                &>*:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
    section.recent-courses {
        color: $ebonyClay;
        padding: 55px 0;
        &>* {
            margin-bottom: 30px;
        }
        h1 {
            font-size: 32px;
        }
        ul {
            li {
                cursor: pointer;
                font-size: 12px;
                margin: 0 7px;
                padding: 5px 10px;
                opacity: .5;
                &.active {
                    background-color: $mystic;
                    border-radius: 99999px;
                }
            }
        }
        .row {
            .card {
                margin-top: 30px;
            }
        }
        .btn {
            margin-top: 30px;
        }
    }
    section.subscribe {
        color: white;
        background-color: $coralRed;
        padding: 30px;
        .searchbar {
            input {
                background-color: white;
            }
        }
        .description,
        .input {
            padding: 10px;
        }
        p {
            font-size: 10px;
            margin-top: 10px;
        }
        .search-wrapper {
            margin-top: 10px;
        }
    }
    section.popoular-courses {
        background-color: $mystic;
        padding: 55px 0;
        h1 {
            font-size: 32px;
        }
        p {
            opacity: .7;
        }
        .row {
            margin-top: 30px;
        }
        .btn-carousel {
            margin-top: 30px;
        }
    }
    section.business-instructor {
        padding: 55px 0;
        .container {
            &>* {
                width: calc(100% / 2 - 10px);
                padding: 40px 20px;
                border: 1px solid #292f472c;
                &>img {
                    width: 30%;
                }
            }
            .md-card {
                div {
                    padding-left: 25px;
                    &>*:not(:last-child) {
                        margin-bottom: 15px;
                    }
                    p {
                        opacity: .5;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    section.investing {
        height: 440px;
        background-image: url(../img/testimonial-1-1917x640-1-1914x639.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 55px 0;
        .description {
            background-color: white;
            width: 67%;
            padding: 55px;
            &>*:not(span) {
                margin-bottom: 20px;
            }
            span {
                font-weight: bold;
                opacity: .8;
            }
            p {
                color: #292f47c5;
                font-size: 14px;
                &:last-child {
                    font-size: 12px;
                }
            }
        }
    }
}