nav {
    .link {
        color: $ebonyClay;
        opacity: .5;
        padding: 10px 0;
        border-bottom: 1px solid #292f4755;
        font-size: 10px;
        select {
            font-size: 10px;
        }
        li {
            margin-left: 14px;
        }
        ul {
            margin-left: 15px;
        }
    }
    .login-wrapper {
        color: $ebonyClay;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
        span {
            margin-right: 10px;
            margin-left: 3px;
            opacity: .8;
        }
        .logo {
            img {
                height: 30px;
            }
        }
        .login {
            margin-left: 30px;
        }
    }
}