* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container-banner {
    width: 65%;
    margin: 0 auto;
}

select {
    outline: none;
    border: none;
    background-color: transparent;
}

li {
    cursor: pointer;
}