// COLOR CUBE
$white:#FFFFFF;
$ebonyClay:#292f47;
$coralRed:#ff4550;
$halfBaked:#87c6d3;
$forestGreen:#2db634;
$bazaar:#a08487;
$azure:#375ca2;
$yellow:#fefe02;
$sundown:#feaeb0;
$vesuvius:#a1440d;
// MEDIAN CUT
$oxfordBlue:#334453;
$mystic:#dde6eb;
$amaranth:#ec4658;
$bouquet:#b68995;
$husk:#b79854;
// MATERIAL DESIGN
$bostonBlue:#3a78bd;
$venus:#9b8a92;
$apple:#46af35;
$ebonyClayDark:#2b2c43;
$halfBakedLight:#87c5d5;