// COLOR CUBE
$white:#FFFFFF;
$ebonyClay:#292f47;
$coralRed:#ff4550;
$halfBaked:#87c6d3;
$azure:#375ca2;
$sundown:#feaeb0;
$vesuvius:#a1440d;
// MEDIAN CUT
$mystic:#dde6eb;
$amaranth:#ec4658;
$bouquet:#b68995;
$husk:#b79854;
// MATERIAL DESIGN
$bostonBlue:#3a78bd;
$halfBakedLight:#87c5d5;