<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/app.css">
    <title>Udemi Affiliate</title>
</head>

<body>
    <div id="root">
        <header>
            <nav>
                <div class="link ">
                    <div class="container flex between">
                        <div class="language">
                            <select name="language" id="language">
                                    <option value="italiano">English</option>
                                </select>
                        </div>
                        <div class="menu flex ">
                            <ul class="flex">
                                <li v-for="(item, index) in menu" :key="index">{{item.name}}</li>
                            </ul>
                            <ul class="social flex">
                                <li v-for="(item, index) in social" :key="index">
                                    <i v-if="index < 6" :class="`${item.icon}`"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="login-wrapper">
                    <div class="container flex between a-center">
                        <div class="logo">
                            <img src="dist/img/MasterStudy.svg" alt="logo">
                        </div>
                        <div class="search-wrapper flex a-center">
                            <i class="fas fa-bars"></i>
                            <span>Categories</span>
                            <div class="searchbar">
                                <input type="text">
                                <div class="search-button flex a-center j-center">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="sign-up-wrapper flex">
                            <div class="collaboration flex a-center">
                                <i class="fas fa-bullhorn"></i>
                                <span>Become an Instructor</span>
                                <i class="fas fa-briefcase"></i>
                                <span>For Enterprise</span>
                            </div>
                            <div class="login flex a-center">
                                <i class="far fa-user"></i>
                                <span>Log In</span>
                                <div class="btn btn-red">
                                    <span>sign up</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter flex a-center j-center">
                    <i class="fas fa-chart-bar"></i>
                    <span>Business</span>
                    <i class="fas fa-palette"></i>
                    <span>Design</span>
                    <i class="fas fa-cog"></i>
                    <span>Developement</span>
                    <i class="far fa-smile"></i>
                    <span>Lifestyle</span>
                    <i class="fas fa-wallet"></i>
                    <span>LifestyleOffice Productivity</span>
                </div>
            </nav>
            <div class="jumbotron flex">
                <div class="description flex j-center a-center ">
                    <div class="flex column">
                        <h1>Udemy Affiliate Sales</h1>
                        <h3>Monetize your audience and attract new customers with <br> Udemy!</h3>
                    </div>
                </div>
                <img src="dist/img/slide-1.jpg" alt="slide">
            </div>
        </header>
        <main>
            <!-- POPOULAR DEVELOPMENT CARD -->
            <section class="popoular-development">
                <div class="container flex column">
                    <h4>Popoular Development Courses</h4>
                    <div class="row flex j-start">
                        <div v-if="index < 5" class="card flex column" v-for="(course, index) in developmentCourses" :key="index">
                            <img :src="`dist/img/${course.cover}`" alt="">
                            <div class="info flex column">
                                <span class="category">{Developement}</span>
                                <span class="description">{{course.description}}</span>
                                <div class="price-vote flex between a-center">
                                    <div class="vote flex">
                                        <i v-for="(star, index) in course.vote" :key="index" class="fas fa-star"></i>
                                    </div>
                                    <div class="price flex column a-end">
                                        <span class="discount">${{course.price}}</span>
                                        <span class="int">${{course.price - course.discount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- BANNER -->
            <section class="banner flex a-center">
                <div class="container-banner">
                    <div class="description flex column j-start ">
                        <h1>Limitless learning, <br> more possibilities</h1>
                        <p>Online courses open the opportunity for learning to almost anyone. <br> regardless of their scheduling commitmens.</p>
                        <div class="btn btn-red">read more</div>
                    </div>
                </div>
            </section>
            <!-- RECENT COURSES -->
            <section class="recent-courses">
                <div class="row flex j-start wrap">

                </div>
            </section>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue "></script>
    <script src="dist/js/app.js"></script>
</body>

</html>